.AllUsers {
  /* overflow: auto; */
  height: 100%;
  direction: rtl;
}

.AllUsers .types {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  background-color: #c8d3db;
  border-radius: 11px;
  padding: 6px;
  width: 90%;
  height: 90%;
  align-self: center;
  box-sizing: border-box;
}

.AllUsers .type {
  border-radius: 11px;
  background-color: #53738a;
  color: white;
  padding: 3px 6px;
  min-width: 40px;
  text-align: center;
}

.AllUsers .title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.AllUsers .addButton {
  position: absolute;
}

.AllUsers .flex1 {
  align-items: center;
  flex: 1;
}

.AllUsers .flex2 {
  align-items: center;
  flex: 2;
}

.AllUsers .flex3 {
  align-items: center;
  flex: 3;
}

.AllUsers .flex4 {
  align-items: center;
  flex: 4;
}

.AllUsers .Card {
  background-color: #f6f6f6 !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.AllUsers th,
.AllUsers td,
.AllUsers tr {
  display: flex;
  text-align: center;
  justify-content: center;
}

.AllUsers tr {
  height: 73px;
  border-bottom: 1px solid #486478;
}

.AllUsers thead {
  background-color: #2682c4;
}

.AllUsers tbody {
  display: block;
  height: 50vh;
  overflow-y: auto;
}
