.ShiftArea {
    margin-top: 2rem;
    direction: rtl;
  }
  
  .title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  
  .addButton {
    position: absolute;
  }
  
  .flex1 {
    align-items: center;
    flex: 1;
  }
  
  .flex2 {
    align-items: center;
    flex: 2;
  }
  
  .flex3 {
    align-items: center;
    flex: 3;
  }
  
  .flex4 {
    align-items: center;
    flex: 4;
  }
  
  .Card {
    background-color: #f6f6f6 !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  th,
  td,
  tr {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  tr {
    height: 73px;
    border-bottom: 1px solid #486478;
  }
  
  thead {
    background-color: #2682c4;
  }
  
  tbody {
    display: block;
    height: 50vh;
    overflow-y: auto;
  }
  
  tbody::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  tbody::-webkit-scrollbar-track {
    background: #f6f6f6;
  }
  
  tbody::-webkit-scrollbar-thumb {
    background: #486478;
  }
  