.ShiftArea {
  margin-top: 2rem;
  direction: rtl;
}

.ShiftArea .title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.ShiftArea .addButton {
  position: absolute;
}

.ShiftArea .flex1 {
  align-items: center;
  flex: 1;
}

.ShiftArea .flex2 {
  align-items: center;
  flex: 2;
}

.ShiftArea .flex3 {
  align-items: center;
  flex: 3;
}

.ShiftArea .flex4 {
  align-items: center;
  flex: 4;
}

.ShiftArea .Card {
  background-color: #f6f6f6 !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.ShiftArea th,
.ShiftArea td,
.ShiftArea tr {
  display: flex;
  text-align: center;
  justify-content: center;
}

.ShiftArea tr {
  height: 73px;
  border-bottom: 1px solid #486478;
}

.ShiftArea thead {
  background-color: #2682c4;
}

.ShiftArea tbody {
  display: block;
  height: 50vh;
  overflow-y: auto;
}
