.CalendarArea {
	direction: rtl;
}

.CalendarArea .CalendarRow .leftDivider {
    /* background-color: black;
    width: 1px;
    height: 100%;
    display: block;
    position: relative;
    left: 0; */
    border-left: 1px solid black;
    box-sizing: border-box;
}

/* .CalendarArea  */
